@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
#landing {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  background-image: url("../../public/background.jpeg");
  width: 100%;
  background-color: var(--color1);
  
  .block{
    display: flex;
    flex-direction: row;
  }

  h1 {
    letter-spacing: 0.15em;
  }

  .hello h1 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-family: "Fira Code";
    font-size: 3em;
    color: black;
    text-transform: none;
    margin: 0 20px;
    opacity: 1;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
  }
  .typewriter h1 {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap; //content on single line
    letter-spacing: 0.15em;
    font-size: 3em;
    animation: typing 2.5s steps(20, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
}
